.view-form-container {
    width: 80%;
    margin: 0 auto;
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  .input-container label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  
  .input-container input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  p {
    color: green;
    font-size: 1.2em;
  }
  